@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

input,
select,
textarea {
  font: inherit;
  color: inherit;
  vertical-align: top;
}

body {
  font-family: "Noto sans JP", sans-serif;
  position: relative;
  width: 100%;
  overflow-x: auto;
}

@media screen and (max-width: 480px) {
  html,
  body {
    overflow-x: hidden !important;
  }
}

/*---------------------
//section 
----------------------*/
.section__inner {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .section__inner {
    max-width: 370px;
  }
}

.section__title {
  line-height: 1;
}
.section__title span {
  display: block;
}

.section__title-en {
  font-weight: 700;
  margin-bottom: 17px;
  color: #81d7fc;
  font-family: "Roboto";
  font-size: 60px;
  font-style: italic;
}
@media screen and (max-width: 480px) {
  .section__title-en {
    font-size: 26px;
    margin-bottom: 3px;
  }
}

.section__title-en--orange {
  color: #fdd35c;
}

.section__title-en--dark {
  color: #00a8f0;
}

.section__title-ja {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section__title-ja span {
  font-weight: 700;
  color: #444545;
  font-size: 18px;
  margin: 0 14px;
  white-space: nowrap;
}
@media screen and (max-width: 480px) {
  .section__title-ja span {
    font-size: 14px;
    margin-top: 8px;
  }
}
.section__title-ja::before, .section__title-ja::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 30px;
  background: #444545;
}
@media screen and (max-width: 480px) {
  .section__title-ja::before, .section__title-ja::after {
    width: 20px;
    margin-top: 7px;
  }
}
.section__title-ja--white span {
  color: #fff;
}
.section__title-ja--white::before, .section__title-ja--white::after {
  border-top: 1px solid white;
}

/*----------------------
//background
-----------------------*/
.background-design {
  width: 100%;
  height: 1465px;
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url(../img/background/background-1.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .background-design {
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .background-design {
    background-image: url(../img/background-sp/sp-1.png);
    height: 365px;
  }
}

.background-design-exhibitors {
  width: 100%;
  height: 435.011px;
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url(../img/background/background-2.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .background-design-exhibitors {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .background-design-exhibitors {
    background-image: url(../img/background-sp/sp-2.png);
    height: 357px;
    margin-top: 40px;
  }
}

.background-design-faq1 {
  background-image: url(../img/background/polygon-4.png);
  position: absolute;
  z-index: 1;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
  top: 350px;
  left: -26px;
  width: 137px;
  height: 132px;
  background-size: contain;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .background-design-faq1 {
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .background-design-faq1 {
    display: none;
  }
}

.background-design-faq2 {
  background-image: url(../img/background/polygon-5.png);
  position: absolute;
  z-index: 1;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
  top: 209px;
  right: 72px;
  width: 67px;
  height: 65px;
  background-size: contain;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .background-design-faq2 {
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .background-design-faq2 {
    display: none;
  }
}

.background-design-faq3 {
  background-image: url(../img/background/polygon-6.png);
  position: absolute;
  z-index: 99999;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
  top: 30px;
  right: 134px;
  width: 205px;
  height: 182px;
  background-size: contain;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .background-design-faq3 {
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .background-design-faq3 {
    display: none;
  }
}

/*-------------------
//アコーディオン
--------------------*/
.card-open {
  display: none;
}
@media screen and (max-width: 480px) {
  .card-open {
    display: block;
    margin: 30px auto 0;
    border: 1px solid #fff;
    padding: 3px 14px;
    color: #fff;
    text-align: center;
    font-family: "Roboto";
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 56px;
  }
}

.not-active {
  display: none;
}

.button {
  margin: 0 auto;
  width: 420px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  border-radius: 60px;
  border: 2px solid #fff;
  background: #06c755;
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 12px;
  padding-right: 61px;
}
@media screen and (max-width: 480px) {
  .button {
    display: none;
  }
}
.button img {
  width: 57px;
  height: 57px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  top: 1px;
  right: 16px;
}

/*-------------------
//window button
--------------------*/
.window-button {
  position: fixed;
  width: 65px;
  height: 303px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px 0 0 10px;
  background: #06c755;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  padding-bottom: 55px;
  letter-spacing: 4px;
}
.window-button img {
  position: absolute;
  width: 53px;
  height: 53px;
  right: 4px;
}
@media screen and (max-width: 480px) {
  .window-button {
    display: none;
  }
}

.window-button__wrapper {
  display: none;
}
@media screen and (max-width: 480px) {
  .window-button__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: fixed;
    z-index: 999;
    bottom: 0;
    background: rgba(241, 241, 244, 0.5);
    max-width: 100%;
    width: 100vw;
    padding: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 480px) {
  .wrapper--sp {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.window-button--sp {
  display: none;
}
@media screen and (max-width: 480px) {
  .window-button--sp {
    display: block;
    position: fixed;
    z-index: 9999;
    bottom: 18px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: 343px;
    width: 95vw;
    padding: 8px 45px 9px 5px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 49px;
    border: 1.633px solid #fff;
    background: #06c755;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .window-button--sp img {
    position: absolute;
    width: 46px;
    height: 43px;
    right: 13px;
    bottom: 0px;
  }
}

/*---------------------
//mv
----------------------*/
.mv {
  width: 100%;
  height: auto;
  background-image: url(../img/kv.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (max-width: 480px) {
  .mv {
    background-image: url(../img/kv-sp.png);
    aspect-ratio: 393/466;
  }
}

.mv__logo {
  position: absolute;
  width: 191px;
  top: 13px;
  left: 38px;
}
@media screen and (max-width: 480px) {
  .mv__logo {
    width: 79px;
    top: 8px;
    left: 10px;
  }
}

.mv__content {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .mv__content {
    max-width: 370px;
  }
}

.mv__lead-ja {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  padding-top: 103px;
}
@media screen and (max-width: 480px) {
  .mv__lead-ja {
    font-size: 16px;
    padding-top: 77px;
  }
}

.mv__lead-logo {
  margin: 0 auto;
  max-width: 562px;
  padding-top: 48px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .mv__lead-logo {
    width: 480px;
  }
}
@media screen and (max-width: 480px) {
  .mv__lead-logo {
    max-width: 304px;
    padding-top: 27px;
  }
}

.mv__lead-sponsored {
  margin: 0 auto;
  width: 515px;
  padding-top: 30px;
  padding-bottom: 21px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .mv__lead-sponsored {
    width: 480px;
  }
}
@media screen and (max-width: 480px) {
  .mv__lead-sponsored {
    display: none;
  }
}

.mv__lead-sponsored--sp {
  display: none;
}
@media screen and (max-width: 480px) {
  .mv__lead-sponsored--sp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 23px;
  }
  .mv__lead-sponsored--sp img {
    width: 137px;
    height: 22px;
    margin-top: 20px;
  }
  .mv__lead-sponsored--sp span {
    color: #fff;
    font-family: "Roboto";
    font-size: 18.897px;
    font-style: italic;
    font-weight: 500;
    line-height: 1;
    margin-right: 9px;
    margin-top: 26px;
  }
}

.mv__lead-date {
  color: #fff;
  text-shadow: 0 1.668px 5.839px #000c4d;
  font-family: "Roboto";
  font-size: 43.874px;
  font-style: italic;
  font-weight: 700;
  line-height: 1;
}
@media screen and (max-width: 480px) {
  .mv__lead-date {
    font-size: 23.953px;
  }
}

.mv__lead-date--sat {
  font-size: 33.363px;
}
@media screen and (max-width: 480px) {
  .mv__lead-date--sat {
    font-size: 18.148px;
  }
}

.mv__lead-place {
  color: #fff;
  text-align: center;
  text-shadow: 0 1.668px 5.839px #000c4d;
  font-size: 28.193px;
  font-weight: 700;
  line-height: 1;
  padding-top: 16px;
}
@media screen and (max-width: 480px) {
  .mv__lead-place {
    font-size: 15.879px;
    padding-top: 9px;
  }
}

.mv__button {
  padding-top: 52px;
  padding-bottom: 94px;
}
@media screen and (max-width: 480px) {
  .mv__button {
    padding-top: 0;
    padding-bottom: 85px;
  }
}

/*---------------------
//about
----------------------*/
.about {
  position: relative;
  padding-top: 38px;
}
@media screen and (max-width: 480px) {
  .about {
    padding-top: 29px;
  }
}

.about__text {
  margin-top: 60px;
  color: #444545;
  font-size: 22px;
  font-weight: 700;
  line-height: 45px;
}
@media screen and (max-width: 480px) {
  .about__text {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .about__text-sp {
    display: none;
  }
}

.about__text-sub {
  margin-top: 40px;
  margin-bottom: 80px;
  color: #444545;
  font-size: 18px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .about__text-sub {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.1rem;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 480px) {
  .about__text-sub {
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 37px;
    width: 300px;
    margin: 28px auto 0;
  }
}

/*---------------
//event
---------------*/
.event {
  padding-top: 84px;
  padding-bottom: 12px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .event {
    padding-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .event {
    padding-top: 33px;
    padding-bottom: 29px;
  }
}

@media screen and (max-width: 480px) {
  .event__inner-sp {
    max-width: 350px;
  }
}

.event__title-ja {
  padding-top: 2px;
  padding-bottom: 62px;
}
@media screen and (max-width: 480px) {
  .event__title-ja {
    padding-bottom: 27px;
  }
}
.event__title-ja span {
  margin-left: 18px;
  margin-right: 38px;
}
@media screen and (max-width: 480px) {
  .event__title-ja span {
    margin-left: 24px;
    margin-right: 26px;
  }
}

.event__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px dotted #c4c4c4;
  padding-bottom: 28px;
  margin-bottom: 42px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .event__info {
    padding-bottom: 18px;
    margin-bottom: 21px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 480px) {
  .event__info {
    padding-bottom: 2px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

.event__heading {
  color: #fdd35c;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
  border-radius: 27.5px;
  border: 2px solid #fdd35c;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 6px;
  min-width: 170px;
  white-space: nowrap;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .event__heading {
    font-size: 1.2rem;
    line-height: 35px;
    padding-top: 3px;
    padding-bottom: 5px;
    min-width: 140px;
  }
}
@media screen and (max-width: 480px) {
  .event__heading {
    font-size: 15px;
    line-height: 24.88px;
    padding-top: 2px;
    padding-bottom: 2px;
    min-width: 108px;
  }
}

.event__heading--last {
  border: none;
}

@media screen and (max-width: 480px) {
  .event__heading-venue,
  .event__heading-contents {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .event__heading-access {
    margin-right: 64px;
  }
}

.event__detail {
  color: #444545;
  font-size: 22px;
  font-weight: 700;
  line-height: 38px;
  margin-top: 5px;
  margin-left: 19px;
  text-align: left;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .event__detail {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 480px) {
  .event__detail {
    font-size: 14px;
    line-height: 31.175px;
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .event__detail-held,
  .event__detail-venue {
    display: none;
  }
}

.event__detail-sp {
  display: none;
}
@media screen and (max-width: 480px) {
  .event__detail-sp {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .event__detail-contents {
    font-size: 14px;
    line-height: 23.555px;
    margin-bottom: 3px;
  }
}

@media screen and (max-width: 768px) {
  .event__detail-access {
    margin-left: 39px;
    margin-right: 10px;
    grid-column: 2/span 4;
    grid-row: 1;
  }
}
@media screen and (max-width: 480px) {
  .event__detail-access {
    margin-left: 3px;
    margin-right: 10px;
    grid-column: 2/span 4;
    grid-row: 1;
  }
}

@media screen and (max-width: 768px) {
  .event__detail-map {
    display: grid;
    grid-template-columns: 110px 1fr;
  }
}
@media screen and (max-width: 480px) {
  .event__detail-map {
    display: grid;
    grid-template-columns: 110px 1fr;
  }
}

.event__detail-venue--sp {
  display: none;
}
@media screen and (max-width: 480px) {
  .event__detail-venue--sp {
    display: block;
    margin-bottom: 8px;
  }
}

.event__detail-people--sp {
  display: none;
}
@media screen and (max-width: 480px) {
  .event__detail-people--sp {
    display: block;
  }
}

.event__access {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 14px;
}

.event__access-JR {
  position: relative;
  margin-bottom: 5px;
}
.event__access-JR::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 5px;
  left: -15px;
  background-color: #fdd35c;
}

.event__access-subway {
  position: relative;
}
.event__access-subway::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 5px;
  left: -15px;
  background-color: #fdd35c;
}

.event__map {
  margin-left: 14px;
  margin-top: 5px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .event__map {
    min-width: 150px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .event__map {
    margin-top: 22px;
    margin-left: 0;
    width: 80%;
    height: 200px;
    grid-column: 1/span 2;
    grid-row: 2;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 480px) {
  .event__map {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 200px;
    grid-column: 1/span 2;
    grid-row: 2;
  }
}

/*---------------
//contents
---------------*/
.contents {
  background: #fff6de;
  padding-top: 80px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .contents {
    padding-top: 60px;
  }
}
@media screen and (max-width: 480px) {
  .contents {
    padding-top: 40px;
  }
}

@media screen and (max-width: 480px) {
  .contents__inner {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.contents__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  gap: 90px;
}
@media screen and (max-width: 768px) {
  .contents__info {
    display: block;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .contents__info {
    gap: 35px;
    margin: 40px 15px 0;
  }
}
@media screen and (max-width: 480px) {
  .contents__info {
    display: block;
    margin-top: 26px;
    padding-bottom: 52px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.contents__card {
  border-radius: 17px;
  border: 3px solid #fdd35c;
  background: #fff;
  width: 435px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .contents__card {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .contents__card {
    min-width: 220px;
    width: 80%;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .contents__card {
    margin: 0 auto;
    max-width: 336px;
    padding-bottom: 17px;
    width: 100%;
  }
  .contents__card:first-child {
    margin-bottom: 28px;
  }
}

.contents__title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 41px;
  border-radius: 10px 10px 0 0;
  border: 3px solid #fdd35c;
  background: #fdd35c;
  padding-top: 5px;
  padding-bottom: 3px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .contents__title {
    font-size: 0.9rem;
    line-height: 30px;
  }
}
@media screen and (max-width: 480px) {
  .contents__title {
    font-size: 18.538px;
    line-height: 24.669px;
  }
}

.contents__sub {
  color: #444545;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 14px;
  padding-right: 12px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .contents__sub {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 480px) {
  .contents__sub {
    font-size: 10.814px;
    line-height: 15.448px;
  }
}

.contents__sub--svg {
  margin-top: -4px;
  margin-right: 8px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .contents__sub--svg {
    width: 190px;
    height: 26px;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .contents__sub--svg {
    width: 179px;
    height: 26px;
  }
}

.contents__main {
  color: #fdd35c;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .contents__main {
    font-size: 1rem;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 480px) {
  .contents__main {
    font-size: 21.628px;
    margin-bottom: 14px;
  }
}
.contents__main em {
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  position: absolute;
  top: -14px;
  left: -9px;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  .contents__main em {
    left: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .contents__main em {
    font-size: 2.2rem;
    left: 0;
  }
}
@media screen and (max-width: 480px) {
  .contents__main em {
    font-size: 37.076px;
    top: -14px;
    left: 2px;
  }
}

.contents__main--booth {
  padding-left: 50px;
}

.content__img {
  width: 340px;
  height: 180px;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .content__img {
    min-width: 200px;
    height: auto;
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  .content__img {
    width: 262.621px;
    height: 139.034px;
  }
}

.button--contents {
  padding-top: 60px;
  padding-bottom: 73px;
}
@media screen and (max-width: 480px) {
  .button--contents {
    display: none;
  }
}

/*---------------
//Pick Up
---------------*/
.pick-up {
  padding-top: 50px;
  padding-bottom: 66px;
  border-left: 50px solid #fdd35c;
  border-right: 50px solid #fdd35c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .pick-up {
    border-left: 25px solid #fdd35c;
    border-right: 25px solid #fdd35c;
  }
}
@media screen and (max-width: 480px) {
  .pick-up {
    border-left: 10px solid #fdd35c;
    border-right: 10px solid #fdd35c;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.title--pick-up {
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .pick-up__inner {
    max-width: 340px;
  }
}

.pick-up__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .pick-up__info {
    display: block;
  }
}

.pick-up__company {
  width: 251px;
}
@media screen and (max-width: 480px) {
  .pick-up__company {
    margin: 0 auto 10px;
    width: 100%;
  }
}

.pick-up__company-info {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 480px) {
  .pick-up__company-info {
    font-size: 14px;
  }
}

.company--OPLAN {
  margin-top: 11px;
  margin-left: 79px;
  width: 110px;
}
@media screen and (max-width: 480px) {
  .company--OPLAN {
    margin: 33px auto 0;
    width: 73.5px;
  }
}

.company-info--OPLAN {
  margin-top: 19px;
  padding-left: 111px;
}
@media screen and (max-width: 480px) {
  .company-info--OPLAN {
    width: 100%;
    margin: 14px auto 0;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
  }
}

.OPLAN--link {
  text-decoration: underline;
  text-decoration-color: #ffebe2;
  text-decoration-thickness: 2px;
}

.company--PEBANK {
  margin-top: 26px;
  margin-left: 9px;
}
@media screen and (max-width: 480px) {
  .company--PEBANK {
    margin: 23px auto 0;
    width: 154px;
  }
}

.company-info--PEBANK {
  margin-top: 26px;
  margin-left: 39px;
}
@media screen and (max-width: 480px) {
  .company-info--PEBANK {
    width: 100%;
    margin: 12px auto 0;
    text-align: center;
    padding: 0 10px;
  }
}

.company--BOC {
  margin-top: 25px;
  width: 267px;
}
@media screen and (max-width: 480px) {
  .company--BOC {
    margin: 53px auto 0;
    width: 177px;
  }
}

.company-info--BOC {
  margin-top: 20px;
  margin-left: 33px;
}
@media screen and (max-width: 480px) {
  .company-info--BOC {
    width: 100%;
    margin: 12px auto 0;
    padding: 0 10px;
  }
}

.company--creava {
  margin-top: 7px;
  margin-left: 8px;
}
@media screen and (max-width: 480px) {
  .company--creava {
    margin: 16px auto 0;
    width: 124px;
  }
}

.company-info--creava {
  margin-top: 20px;
  margin-left: 39px;
}
@media screen and (max-width: 480px) {
  .company-info--creava {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
}
.company-info--creava img {
  width: 95px;
  height: 21px;
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .company-info--creava a {
    text-decoration: underline;
    text-decoration-color: #ffebe2;
    text-decoration-thickness: 2px;
  }
}

.company--quartet {
  margin-top: 33px;
  margin-left: 16px;
}
@media screen and (max-width: 480px) {
  .company--quartet {
    margin: 25px auto 0;
    width: 155px;
  }
}

.company-info--quartet {
  margin-top: 25px;
  margin-left: 31px;
}
@media screen and (max-width: 480px) {
  .company-info--quartet {
    width: 100%;
    margin: 10px auto 0;
    text-align: center;
  }
}

/*-------------------
//About Exhibitors
--------------------*/
.about-exhibitors {
  padding-top: 22px;
  position: relative;
}

.title--exhibitors {
  margin-bottom: 20px;
}

.title-ja--exhibitors span {
  margin-right: 39px;
  margin-left: 39px;
}

.about-exhibitors__company-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 94px;
  gap: 0 88px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .about-exhibitors__company-list {
    gap: 0 30px;
    margin: 0 30px 0;
    padding-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .about-exhibitors__company-list {
    padding-top: 50px;
    display: block;
  }
}

.about-exhibitors__company {
  color: #444545;
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  text-align: left;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .about-exhibitors__company {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 480px) {
  .about-exhibitors__company {
    font-size: 17px;
    text-align: center;
    line-height: 2.2;
  }
}

.about-exhibitors__text {
  color: #444545;
  text-align: right;
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  padding-top: 20px;
  padding-bottom: 64px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .about-exhibitors__text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .about-exhibitors__text {
    font-size: 14px;
  }
}

/*-------------------
//Time Schedule
--------------------*/
.time-schedule {
  background-image: url(../img/time-schedule-background.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-top: 92px;
}
@media screen and (max-width: 480px) {
  .time-schedule {
    padding-top: 41px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .time-schedule__inner {
    max-width: 360px;
    margin: 0 auto;
  }
}

.time-schedule__lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 60px;
  gap: 24px 30px;
  padding-bottom: 185px;
}
@media screen and (max-width: 768px) {
  .time-schedule__lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .time-schedule__lists {
    padding-top: 30px;
    gap: 20px 25px;
    padding-bottom: 40px;
    margin: 0 12px 0;
    place-items: center;
  }
}
@media screen and (max-width: 480px) {
  .time-schedule__lists {
    display: block;
    margin-left: 3px;
    padding-top: 34px;
    padding-bottom: 0;
  }
}

.time-schedule__card {
  position: relative;
  width: 300px;
  height: 254px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 5px;
  background: rgba(241, 251, 255, 0.6);
}
.time-schedule__card:last-child {
  height: 192px;
}
@media screen and (max-width: 480px) {
  .time-schedule__card:last-child {
    height: 103px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .time-schedule__card {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .time-schedule__card {
    max-width: 354px;
    width: 98%;
    height: 103px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .time-schedule__card:nth-child(n+4) {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .time-schedule__card-text {
    padding: 3px;
  }
}

.time-schedule__card.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.time-schedule__card-time {
  position: absolute;
  top: 7px;
  left: -4px;
  background-image: url(../img/time-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 88px;
  height: 31px;
  z-index: 999;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .time-schedule__card-time {
    width: 66px;
    height: 30px;
  }
}
@media screen and (max-width: 480px) {
  .time-schedule__card-time {
    top: 5px;
    left: -4px;
    background-repeat: repeat-y;
  }
}
.time-schedule__card-time span {
  color: #444545;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.28px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .time-schedule__card-time span {
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 480px) {
  .time-schedule__card-time span {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.12px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .time-schedule__card-img img {
    overflow: hidden;
  }
}

.time-schedule__card-text {
  padding-top: 38px;
  color: #444545;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.5px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .time-schedule__card-text {
    font-size: 1rem;
    overflow: hidden;
  }
}
@media screen and (max-width: 480px) {
  .time-schedule__card-text {
    font-size: 16px;
    letter-spacing: 1.28px;
  }
}

.card--1 span {
  padding-right: 7px;
}
.card--1 img {
  padding-top: 18px;
  padding-right: 4px;
  height: 150px;
  width: 136px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--1 img {
    width: 120px;
    height: 120px;
    min-width: 60px;
    min-height: 60px;
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  .card--1 img {
    width: 83px;
    height: 88px;
    padding: 0;
    margin-right: 16px;
  }
}
.card--1 p {
  padding-right: 47px;
  padding-top: 39px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--1 p {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .card--1 p {
    padding-right: 69px;
    padding-top: 15px;
  }
}

.card--2 span {
  padding-right: 7px;
}
.card--2 img {
  padding-top: 21px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--2 img {
    width: 120px;
    height: 120px;
    min-width: 60px;
    min-height: 60px;
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  .card--2 img {
    width: 88px;
    height: 88px;
    padding: 0;
    margin-right: 24px;
  }
}
.card--2 p {
  width: 270px;
  text-align: left;
  padding-left: 12px;
  padding-top: 12px;
  line-height: 1.25;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--2 p {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .card--2 p {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 1.28px;
    padding-top: 20px;
  }
}

.card--3 {
  padding-left: 5px;
}
.card--3 span {
  padding-right: 11px;
}
.card--3 img {
  padding-top: 18px;
  padding-right: 17px;
  height: 150px;
  width: 147px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--3 img {
    width: 120px;
    height: 120px;
    min-width: 60px;
    min-height: 60px;
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  .card--3 img {
    width: 86px;
    height: 89px;
    padding: 0;
    margin-right: 16px;
    margin-top: 4px;
  }
}
.card--3 p {
  width: 270px;
  text-align: left;
  padding-top: 26px;
  padding-left: 8px;
  line-height: 1.25;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--3 p {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .card--3 p {
    width: 200px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 1.28px;
    padding-top: 29px;
    margin-right: 38px;
  }
}

.card--4 span {
  padding-right: 4px;
}
.card--4 img {
  padding-top: 18px;
  padding-right: 4px;
  height: 150px;
  width: 136px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--4 img {
    width: 120px;
    height: 120px;
    min-width: 60px;
    min-height: 60px;
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  .card--4 img {
    width: 84px;
    height: 87px;
    padding: 0;
    margin-right: 21px;
    margin-top: 5px;
  }
}
.card--4 p {
  width: 280px;
  text-align: left;
  padding-top: 13px;
  padding-left: 17px;
  line-height: 1.25;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--4 p {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .card--4 p {
    width: 260px;
    padding-top: 27px;
    padding-left: 12px;
  }
}

.card--5 {
  padding-left: 5px;
}
.card--5 span {
  padding-right: 8px;
}
.card--5 img {
  padding-top: 18px;
  padding-right: 8px;
  height: 150px;
  width: 136px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--5 img {
    width: 120px;
    height: 120px;
    min-width: 60px;
    min-height: 60px;
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  .card--5 img {
    width: 86px;
    height: 88px;
    padding: 0;
    margin-right: 31px;
  }
}
.card--5 p {
  width: 275px;
  text-align: left;
  padding-top: 26px;
  padding-left: 12px;
  line-height: 1.25;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--5 p {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .card--5 p {
    padding-left: 6px;
  }
}

.card--6 {
  padding-left: 5px;
}
.card--6 span {
  padding-right: 8px;
}
.card--6 img {
  padding-top: 17px;
  padding-right: 16px;
  height: 154px;
  width: 146px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--6 img {
    width: 120px;
    height: 120px;
    min-width: 60px;
    min-height: 60px;
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  .card--6 img {
    width: 85px;
    height: 89px;
    padding: 0;
    margin-right: 29px;
  }
}
.card--6 p {
  width: 275px;
  text-align: left;
  padding-top: 23px;
  padding-left: 8px;
  line-height: 1.25;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--6 p {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .card--6 p {
    padding-left: 9px;
  }
}

.card--7 .time-schedule__card-img img[src="./img/card-7.png"] {
  width: 297px;
  height: 165px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 13px;
  padding-right: 8px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--7 .time-schedule__card-img img[src="./img/card-7.png"] {
    width: 220px;
    height: 120px;
    min-width: 60px;
    min-height: 60px;
    margin: 0;
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  .card--7 .time-schedule__card-img img[src="./img/card-7.png"] {
    margin-right: 8px;
    padding: 0;
    width: 197px;
    height: 103px;
  }
}
.card--7 span {
  padding-right: 8px;
}
.card--7 p {
  width: 275px;
  text-align: left;
  padding-top: 0;
  padding-left: 16px;
  padding-bottom: 5px;
  line-height: 1.25;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--7 p {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .card--7 p {
    width: 130px;
    padding: 23px 0px 0 12px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.card--8 span {
  padding-right: 8px;
}
.card--8 img {
  padding-top: 22px;
  padding-right: 9px;
  height: 156px;
  width: 137px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--8 img {
    width: 120px;
    height: 120px;
    min-width: 60px;
    min-height: 60px;
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  .card--8 img {
    width: 83px;
    height: 89px;
    padding: 0;
    margin-right: 26px;
  }
}
.card--8 p {
  width: 275px;
  text-align: left;
  padding-top: 10px;
  padding-left: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--8 p {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .card--8 p {
    padding-top: 22px;
    padding-left: 12px;
    padding-right: 5px;
  }
}

.card--9 img[src="./img//card-9.png"] {
  width: 259px;
  height: 169px;
  -o-object-fit: contain;
     object-fit: contain;
  padding-top: 18px;
  padding-right: 11px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--9 img[src="./img//card-9.png"] {
    width: 190px;
    height: 120px;
    min-width: 60px;
    min-height: 60px;
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  .card--9 img[src="./img//card-9.png"] {
    width: 185px;
    height: 100px;
    padding-top: 0px;
    padding-right: 8px;
  }
}
.card--9 span {
  padding-right: 8px;
}
.card--9 p {
  width: 290px;
  text-align: left;
  padding-top: 10px;
  padding-left: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--9 p {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .card--9 p {
    width: 200px;
    padding-top: 25px;
    padding-left: 13px;
  }
}

.card--10 {
  margin-left: 4px;
}
@media screen and (max-width: 480px) {
  .card--10 {
    margin-left: 0;
  }
}
.card--10 span {
  padding-right: 6px;
}
.card--10 img {
  padding-top: 22px;
  height: 156px;
  width: 131px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--10 img {
    width: 120px;
    height: 120px;
    min-width: 60px;
    min-height: 60px;
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  .card--10 img {
    width: 83px;
    height: 89px;
    padding: 0;
    margin-right: 17px;
  }
}
.card--10 p {
  width: 290px;
  text-align: left;
  padding-top: 23px;
  padding-left: 23px;
  line-height: 1.25;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--10 p {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .card--10 p {
    width: 220px;
    padding-top: 18px;
    padding-left: 0px;
    margin-right: 21px;
  }
}

.card--11 span {
  padding-right: 6px;
}
.card--11 img {
  padding-top: 22px;
  padding-right: 5px;
  height: 156px;
  width: 133px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--11 img {
    width: 120px;
    height: 120px;
    min-width: 60px;
    min-height: 60px;
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  .card--11 img {
    width: 83px;
    height: 89px;
    padding: 0;
    margin-right: 17px;
  }
}
.card--11 p {
  width: 290px;
  text-align: left;
  padding-top: 23px;
  padding-left: 23px;
  line-height: 1.25;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--11 p {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .card--11 p {
    width: 220px;
    padding-top: 18px;
    padding-left: 0px;
    margin-right: 21px;
  }
}

.card--12 img[src="./img/card-12.png"] {
  width: 250px;
  height: 151px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 30px;
  margin-right: 2px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .card--12 img[src="./img/card-12.png"] {
    width: 200px;
    height: 120px;
    min-width: 60px;
    min-height: 60px;
    padding: 5px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 480px) {
  .card--12 img[src="./img/card-12.png"] {
    width: 175px;
    height: 100px;
    margin: 0 85px 0 0;
  }
}
.card--12 span {
  padding-right: 6px;
}

/*-------------------
//FAQ
--------------------*/
.faq {
  padding-top: 80px;
  padding-bottom: 108px;
  position: relative;
  overflow: visible;
}
@media screen and (max-width: 480px) {
  .faq {
    padding-top: 29px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  .faq__inner-sp {
    max-width: 310px;
  }
}

.title--faq {
  padding-top: 18px;
  margin-bottom: 22px;
}

.faq__lists {
  padding-top: 73px;
  padding-left: 143px;
  text-align: left;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .faq__lists {
    padding-top: 50px;
    margin: 0 10px 0 10px;
    padding-left: 100px;
  }
}
@media screen and (max-width: 480px) {
  .faq__lists {
    padding-top: 29px;
    margin-left: 37px;
    padding-left: 0;
    font-size: 16px;
  }
}

.faq__question {
  padding-bottom: 22px;
  position: relative;
}
@media screen and (max-width: 480px) {
  .faq__question {
    padding-bottom: 16px;
  }
}
.faq__question::before {
  position: absolute;
  display: inline-block;
  content: "Q";
  width: 33px;
  height: 33px;
  border-radius: 50%;
  top: 0;
  left: -43px;
  background-color: #00a8f0;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .faq__question::before {
    width: 26.159px;
    height: 26.159px;
    left: -36px;
  }
}

.faq__answer {
  padding-bottom: 49px;
  position: relative;
}
@media screen and (max-width: 480px) {
  .faq__answer {
    padding-bottom: 33px;
  }
}
.faq__answer::before {
  position: absolute;
  display: inline-block;
  content: "A";
  width: 33px;
  height: 33px;
  border-radius: 50%;
  top: 0;
  left: -43px;
  background-color: #fdd35c;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .faq__answer::before {
    width: 26.159px;
    height: 26.159px;
    left: -36px;
  }
}
.faq__answer a {
  text-decoration: underline;
  text-decoration-color: #00a8f0;
  text-decoration-thickness: 1px;
}

/*-------------------
//Footer
--------------------*/
.footer {
  background: #333;
  padding-top: 67px;
  padding-bottom: 35px;
}
@media screen and (max-width: 480px) {
  .footer {
    padding-top: 0;
  }
}

.footer__inner {
  max-width: 1192px;
}
@media screen and (max-width: 480px) {
  .footer__inner {
    width: 100%;
    max-width: 370px;
  }
}

.footer__button-inner {
  padding-bottom: 59px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 480px) {
  .footer__button-inner {
    padding-top: 33px;
    padding-bottom: 28px;
    width: 296px;
    margin: 0 auto;
  }
}

.footer__button {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  border-radius: 50px;
  border: 1.633px solid #fff;
  padding: 7px 40px 11px;
}
@media screen and (max-width: 480px) {
  .footer__button {
    font-size: 16px;
    padding: 6px 43px;
  }
}

.footer__small-wrapper {
  margin-top: 25px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .footer__small-wrapper {
    margin-top: 12px;
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
@media screen and (max-width: 480px) {
  .footer__row {
    gap: 4px;
  }
}

.footer__company,
.footer__privacy {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
@media screen and (max-width: 480px) {
  .footer__company,
  .footer__privacy {
    font-size: 9.117px;
    line-height: 13.024px;
  }
}

.footer__company {
  margin-top: 11px;
}

.footer__privacy {
  margin-top: 17px;
}
@media screen and (max-width: 480px) {
  .footer__privacy {
    margin-top: 12px;
    margin-right: 6px;
  }
}

.footer__logo {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  width: 222px;
  margin-right: 20px;
}
@media screen and (max-width: 480px) {
  .footer__logo {
    font-size: 9.117px;
    line-height: 13.024px;
    width: 126px;
    margin-right: 3px;
  }
}