@use "sass:map";

$breakpoints: (
  sp: "screen and (max-width: 390px)",
  pc: "screen and (min-width: 768px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  font-family: "Noto sans JP", sans-serif;
  position: relative;
  outline: 1px solid red;
}

/*---------------------
//section 
----------------------*/

.section__inner {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;

  @include mq(sp) {
    max-width: 370px;
    width: 100%;
  }
}

.section__title {
  line-height: 1;
  span {
    display: block;
  }
}

.section__title-en {
  font-weight: 700;
  margin-bottom: 17px;
  color: #81d7fc;
  font-family: "Roboto";
  font-size: 60px;
  font-style: italic;

  @include mq(sp) {
    font-size: 26px;
    margin-bottom: 3px;
  }
}

.section__title-en--orange {
  color: #fdd35c;
}

.section__title-en--dark {
  color: #00a8f0;
}

.section__title-ja {
  align-items: center;
  justify-content: center;
  display: flex;

  span {
    font-weight: 700;
    color: #444545;
    font-size: 18px;
    margin: 0 14px;
    white-space: nowrap;

    @include mq(sp) {
      font-size: 14px;
      margin-top: 8px;
    }
  }

  &::before,
  &::after {
    // border-top: 1px solid black;
    content: "";
    display: inline-block;
    height: 1px;
    width: 30px;
    background: #444545;

    @include mq(sp) {
      width: 20px;
      margin-top: 7px;
    }
  }
  &::before {
    // margin-right: 21px;
  }
  &::after {
    // margin-left: 11px;
  }
}

.section__title-ja--white {
  span {
    color: #fff;
  }
  &::before,
  &::after {
    border-top: 1px solid white;
  }
}

/*----------------------
//background
-----------------------*/

.background-design {
  width: 100%;
  height: 1465px;
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url(../img/background/background-1.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;

  @include mq(sp) {
    background-image: url(../img/background-sp/sp-1.png);
    height: 365px;
  }
}

.background-design-exhibitors {
  width: 98%;
  height: 473px;
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url(../img/background/background-2.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;

  @include mq(sp) {
    background-image: url(../img/background-sp/sp-2.png);
    height: 294px;
  }
}

.background-design-faq1 {
  background-image: url(../img/background/polygon-4.png);
  position: absolute;
  inset: 0;
  z-index: -1;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
  top: 99px;
  left: -1341px;

  @include mq(sp) {
    display: none;
  }
}
.background-design-faq2 {
  background-image: url(../img/background/polygon-5.png);
  position: absolute;
  inset: 0;
  z-index: -1;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
  top: -256px;
  left: 1353px;

  @include mq(sp) {
    display: none;
  }
}

.background-design-faq3 {
  background-image: url(../img/background/polygon-6.png);
  position: absolute;
  inset: 0;
  z-index: -1;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
  top: -450px;
  left: 1042px;

  @include mq(sp) {
    display: none;
  }
}

/*---------------------
//mv
----------------------*/
.mv {
  width: 100%;
  height: auto;
  background-image: url(../img/kv.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  //   aspect-ratio: 1440 / 841;
  position: relative;

  @include mq(sp) {
    background-image: url(../img/kv-sp.png);
    aspect-ratio: 393 / 466;
  }
}

.mv__logo {
  position: absolute;
  width: 191px;
  top: 13px;
  left: 38px;

  @include mq(sp) {
    width: 79px;
    top: 8px;
    left: 10px;
  }
}

.mv__content {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;

  @include mq(sp) {
    max-width: 370px;
  }
}

.mv__lead {
}

.mv__lead-ja {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  padding-top: 103px;

  @include mq(sp) {
    font-size: 16px;
    padding-top: 77px;
  }
}

.mv__lead-logo {
  margin: 0 auto;
  max-width: 562px;
  padding-top: 48px;

  @include mq(sp) {
    max-width: 304px;
    padding-top: 27px;
  }
}

.mv__lead-sponsored {
  margin: 0 auto;
  width: 515px;
  padding-top: 30px;
  padding-bottom: 21px;

  @include mq(sp) {
    display: none;
  }
}

.mv__lead-sponsored--sp {
  display: none;

  @include mq(sp) {
    display: flex;
    justify-content: center;
    margin-bottom: 23px;

    img {
      width: 137px;
      height: 22px;
      margin-top: 20px;
    }

    span {
      color: #fff;
      font-family: "Roboto";
      font-size: 18.897px;
      font-style: italic;
      font-weight: 500;
      line-height: 1;
      margin-right: 9px;
      margin-top: 26px;
    }
  }
}

.mv__lead-date {
  color: #fff;
  text-shadow: 0 1.668px 5.839px #000c4d;
  font-family: "Roboto";
  font-size: 43.874px;
  font-style: italic;
  font-weight: 700;
  line-height: 1;

  @include mq(sp) {
    font-size: 23.953px;
  }
}

.mv__lead-date--sat {
  font-size: 33.363px;

  @include mq(sp) {
    font-size: 18.148px;
  }
}

.mv__lead-place {
  color: #fff;
  text-align: center;
  text-shadow: 0 1.668px 5.839px #000c4d;
  font-size: 28.193px;
  font-weight: 700;
  line-height: 1;
  padding-top: 16px;

  @include mq(sp) {
    font-size: 15.879px;
    padding-top: 9px;
  }
}

.mv__button {
  padding-top: 52px;
  padding-bottom: 94px;
  @include mq(sp) {
    padding-top: 0;
    padding-bottom: 85px;
  }
}

.button {
  margin: 0 auto;
  width: 420px;
  flex-shrink: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  border-radius: 60px;
  border: 2px solid #fff;
  background: #06c755;
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 12px;
  padding-right: 61px;

  @include mq(sp) {
    display: none;
  }

  img {
    width: 57px;
    height: 57px;
    flex-shrink: 0;
    position: absolute;
    top: 1px;
    right: 16px;
  }
}

/*---------------------
//about
----------------------*/

.about {
  position: relative;
  padding-top: 38px;

  @include mq(sp) {
    padding-top: 29px;
  }
}

.about__text {
  margin-top: 60px;
  color: #444545;
  font-size: 22px;
  font-weight: 700;
  line-height: 45px;

  @include mq(sp) {
    display: none;
  }
}

.about__text-sp {
  @include mq(sp) {
    display: none;
  }
}

.about__text-sub {
  margin-top: 40px;
  margin-bottom: 80px;
  color: #444545;
  font-size: 18px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;

  @include mq(sp) {
    // margin-top: 28px;
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 37px;
    width: 300px;
    margin: 28px auto 0;
  }
}

/*---------------
//event
---------------*/

.event {
  padding-top: 84px;
  padding-bottom: 14px;

  @include mq(sp) {
    padding-top: 33px;
    padding-bottom: 29px;
  }
}

.event__inner-sp {
  @include mq(sp) {
    width: 350px;
  }
}

.event__title-ja {
  padding-top: 2px;
  padding-bottom: 62px;

  @include mq(sp) {
    padding-bottom: 27px;
  }

  span {
    margin-left: 18px;
    margin-right: 38px;

    @include mq(sp) {
      margin-left: 24px;
      margin-right: 26px;
    }
  }
}

.event__info {
  display: flex;
  border-bottom: 1px dotted #c4c4c4;
  padding-bottom: 28px;
  margin-bottom: 42px;

  @include mq(sp) {
    padding-bottom: 2px;
    margin-bottom: 10px;
  }
}

.event__heading {
  color: #fdd35c;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
  border-radius: 27.5px;
  border: 2px solid #fdd35c;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 6px;
  min-width: 170px;
  white-space: nowrap;

  @include mq(sp) {
    font-size: 15px;
    line-height: 24.88px;
    padding-top: 2px;
    padding-bottom: 2px;
    min-width: 108px;
  }
}

.event__heading--last {
  border: none;
}

.event__heading-venue,
.event__heading-contents {
  @include mq(sp) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.event__heading-access {
  @include mq(sp) {
    margin-right: 64px;
  }
}

.event__detail {
  color: #444545;
  font-size: 22px;
  font-weight: 700;
  line-height: 38px;
  margin-top: 4px;
  margin-left: 19px;
  text-align: left;

  @include mq(sp) {
    font-size: 14px;
    line-height: 31.175px;
    margin-top: 0;
  }
}

.event__detail-held,
.event__detail-venue {
  @include mq(sp) {
    display: none;
  }
}

.event__detail-contents {
  @include mq(sp) {
    font-size: 14px;
    line-height: 23.555px;
    margin-bottom: 3px;
  }
}

.event__detail-access {
  @include mq(sp) {
    margin-left: 3px;
    margin-right: 10px;
    grid-column: 2 / span 4;
    grid-row: 1;
  }
}

.event__detail-map {
  @include mq(sp) {
    display: grid;
    grid-template-columns: 110px 1fr;
  }
}

.event__detail-venue--sp {
  margin-bottom: 8px;
}
.event__detail-people--sp {
  display: none;
  @include mq(sp) {
    display: block;
  }
}

.event__access {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 14px;
}

.event__access-JR {
  position: relative;
  margin-bottom: 5px;
  &::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 5px;
    left: -15px;
    background-color: #fdd35c;
  }
}

.event__access-subway {
  position: relative;
  &::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 5px;
    left: -15px;
    background-color: #fdd35c;
  }
}

.event__map {
  margin-left: 7px;
  @include mq(sp) {
    margin-top: 22px;
    margin-left: 0;
    width: 100%;
    height: 200px;
    grid-column: 1 / span 2;
    grid-row: 2;
  }
}

/*---------------
//contents
---------------*/
.contents {
  background: #fff6de;
  padding-top: 80px;

  @include mq(sp) {
    padding-top: 40px;
  }
}

.contents__info {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 90px;

  @include mq(sp) {
    display: block;
    margin-top: 26px;
    padding-bottom: 52px;
  }
}

.contents__card {
  border-radius: 17px;
  border: 3px solid #fdd35c;
  background: #fff;
  width: 435px;
  padding-bottom: 20px;
  box-sizing: border-box;

  @include mq(sp) {
    margin: 0 auto;
    width: 336px;
    padding-bottom: 17px;
    &:first-child {
      margin-bottom: 28px;
    }
  }
}

.contents__title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 41px;
  border-radius: 10px 10px 0 0;
  border: 3px solid #fdd35c;
  background: #fdd35c;
  padding-top: 5px;
  padding-bottom: 3px;

  @include mq(sp) {
    font-size: 18.538px;
    line-height: 24.669px;
  }
}

.contents__title--booth {
}

.contents__sub {
  color: #444545;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 14px;
  padding-right: 12px;

  @include mq(sp) {
    font-size: 10.814px;
    line-height: 15.448px;
  }
}

.contents__sub--svg {
  margin-top: -4px;
  margin-right: 8px;

  @include mq(sp) {
    width: 179px;
    height: 26px;
  }
}

.contents__main {
  color: #fdd35c;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  position: relative;
  margin-bottom: 20px;

  @include mq(sp) {
    font-size: 21.628px;
    margin-bottom: 14px;
  }

  em {
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
    position: absolute;
    top: -17px;
    left: -3px;

    @include mq(sp) {
      font-size: 37.076px;
      top: -14px;
      left: 2px;
    }
  }
}

.contents__main--booth {
  padding-left: 50px;
}

.content__img {
  width: 340px;
  height: 180px;
  display: block;
  margin: 0 auto;

  @include mq(sp) {
    width: 262.621px;
    height: 139.034px;
  }
}

.button--contents {
  padding-top: 60px;
  padding-bottom: 80px;

  @include mq(sp) {
    display: none;
  }
}

/*---------------
//Pick Up
---------------*/
.pick-up {
  padding-top: 50px;
  padding-bottom: 63px;
  border-left: 50px solid #fdd35c;
  border-right: 50px solid #fdd35c;
  box-sizing: border-box;

  @include mq(sp) {
    border-left: 10px solid #fdd35c;
    border-right: 10px solid #fdd35c;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.pick-up__inner {
  @include mq(sp) {
    max-width: 340px;
  }
}

.pick-up__info {
  display: flex;
  align-items: center;

  @include mq(sp) {
    display: block;
  }
}

.pick-up__company {
  width: 251px;

  @include mq(sp) {
    margin: 0 auto 10px;
    width: 100%;
  }
}

.pick-up__company-info {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  flex: 1;

  @include mq(sp) {
    font-size: 14px;
  }
}

.company--OPLAN {
  margin-top: 34px;
  margin-left: 79px;
  width: 110px;
  @include mq(sp) {
    margin: 33px auto 0;
    width: 73.5px;
  }
}
.company-info--OPLAN {
  margin-top: 37px;
  padding-left: 111px;

  @include mq(sp) {
    width: 100%;
    margin: 14px auto 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
  }
}
.company--PEBANK {
  margin-top: 30px;
  margin-left: 9px;

  @include mq(sp) {
    margin: 23px auto 0;
    width: 154px;
  }
}
.company-info--PEBANK {
  margin-top: 25px;
  margin-left: 39px;
  @include mq(sp) {
    width: 100%;
    margin: 12px auto 0;
    text-align: center;
  }
}
.company--BOC {
  margin-top: 25px;
  width: 267px;
  @include mq(sp) {
    margin: 53px auto 0;
    width: 177px;
  }
}
.company-info--BOC {
  margin-top: 20px;
  margin-left: 33px;
  @include mq(sp) {
    width: 100%;
    margin: 12px auto 0;
  }
}
.company--creava {
  margin-top: 17px;
  margin-left: 8px;
  @include mq(sp) {
    margin: 16px auto 0;
    width: 124px;
  }
}
.company-info--creava {
  margin-top: 20px;
  margin-left: 39px;
  @include mq(sp) {
    width: 100%;
    margin: 0 auto;
  }

  img {
    width: 95px;
    height: 21px;

    @include mq(sp) {
      display: none;
      // width: 77px;
      // height: 17px;
    }
  }

  a {
    @include mq(sp) {
      text-decoration: underline;
      text-decoration-color: #ffebe2;
      text-decoration-thickness: 2px;
    }
  }
}
.company--quartet {
  margin-top: 40px;
  margin-left: 16px;
  @include mq(sp) {
    margin: 25px auto 0;
    width: 155px;
  }
}
.company-info--quartet {
  margin-top: 31px;
  margin-left: 31px;
  @include mq(sp) {
    width: 100%;
    margin: 10px auto 0;
    text-align: center;
  }
}
/*-------------------
//About Exhibitors
--------------------*/
.about-exhibitors {
  padding-top: 91px;
  padding-top: 27px;
  position: relative;
}

.title-ja--exhibitors {
  span {
    margin-right: 39px;
    margin-left: 39px;
  }
}

.about-exhibitors__company-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 91px;
  gap: 0 88px;

  @include mq(sp) {
    padding-top: 50px;
    display: block;
  }
}

.about-exhibitors__company {
  color: #444545;
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  text-align: left;

  @include mq(sp) {
    font-size: 17px;
    text-align: center;
    line-height: 2.2;
  }
}

.about-exhibitors__text {
  color: #444545;
  text-align: right;
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  padding-top: 20px;
  padding-bottom: 67px;

  @include mq(sp) {
    font-size: 14px;
  }
}

/*-------------------
//Time Schedule
--------------------*/
.time-schedule {
  background-image: url(../img/time-schedule-background.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-top: 92px;

  @include mq(sp) {
    padding-top: 41px;
  }
}

.time-schedule__inner {
  @include mq(sp) {
    max-width: 360px;
    margin: 0 auto;
  }
}

.time-schedule__lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 60px;
  gap: 24px 32px;
  padding-bottom: 185px;

  @include mq(sp) {
    display: block;
    margin-left: 3px;
    padding-top: 34px;
    padding-bottom: 56px;
  }
}

.time-schedule__card {
  position: relative;
  width: 300px;
  height: 254px;
  flex-shrink: 0;
  border-radius: 5px;
  background: rgba(241, 251, 255, 0.6);

  &:last-child {
    height: 192px;

    @include mq(sp) {
      height: 103px;
    }
  }

  @include mq(sp) {
    max-width: 354px;
    width: 100%;
    height: 103px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 10px;
  }
}

.time-schedule__card-time {
  position: absolute;
  top: 7px;
  left: -4px;
  background-image: url(../img/time-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 88px;
  height: 31px;

  @include mq(sp) {
    top: 5px;
    left: -7px;
    background-repeat: repeat-y;
  }

  span {
    color: #444545;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.28px;

    @include mq(sp) {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1.12px;
    }
  }
}

.time-schedule__card-text {
  padding-top: 38px;
  color: #444545;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.5px;

  @include mq(sp) {
    font-size: 16px;
    letter-spacing: 1.28px;
  }
}

.card--1 {
  span {
    padding-right: 7px;
  }

  img {
    padding-top: 18px;
    padding-right: 4px;
    height: 150px;
    width: 136px;

    @include mq(sp) {
      width: 83px;
      height: 88px;
      padding: 0;
      margin-right: 16px;
    }
  }

  p {
    padding-right: 47px;
    padding-top: 39px;

    @include mq(sp) {
      padding-right: 69px;
      padding-top: 15px;
    }
  }
}

.card--2 {
  span {
    padding-right: 7px;
  }

  img {
    padding-top: 21px;

    @include mq(sp) {
      width: 88px;
      height: 88px;
      padding: 0;
      margin-right: 24px;
    }
  }

  p {
    width: calc(300px - 15px - 15px);
    text-align: left;
    padding-left: 12px;
    padding-top: 12px;
    line-height: 1.25;

    @include mq(sp) {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.1;
      letter-spacing: 1.28px;
      padding-top: 20px;
    }
  }
}

.card--3 {
  padding-left: 5px;

  .time-schedule__card-time {
    left: -11px;
    @include mq(sp) {
      left: -7px;
    }
  }
  span {
    padding-right: 11px;
  }

  img {
    padding-top: 18px;
    padding-right: 17px;
    height: 150px;
    width: 147px;

    @include mq(sp) {
      width: 86px;
      height: 89px;
      padding: 0;
      margin-right: 16px;
      margin-top: 4px;
    }
  }

  p {
    width: calc(300px - 15px - 15px);
    text-align: left;
    padding-top: 24px;
    line-height: 1.25;

    @include mq(sp) {
      width: 200px;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.1;
      letter-spacing: 1.28px;
      padding-top: 29px;
      margin-right: 38px;
    }
  }
}

.card--4 {
  span {
    padding-right: 4px;
  }

  img {
    padding-top: 18px;
    padding-right: 4px;
    height: 150px;
    width: 136px;

    @include mq(sp) {
      width: 84px;
      height: 87px;
      padding: 0;
      margin-right: 21px;
      margin-top: 5px;
    }
  }

  p {
    width: calc(300px - 15px - 15px);
    text-align: left;
    padding-top: 13px;
    padding-left: 12px;
    line-height: 1.25;

    @include mq(sp) {
      width: 260px;
      padding-top: 27px;
      padding-left: 12px;
    }
  }
}

.card--5 {
  padding-left: 5px;

  span {
    padding-right: 8px;
  }

  img {
    padding-top: 18px;
    padding-right: 8px;
    height: 150px;
    width: 136px;

    @include mq(sp) {
      width: 86px;
      height: 88px;
      padding: 0;
      margin-right: 31px;
    }
  }

  p {
    width: calc(300px - 15px - 10px);
    text-align: left;
    padding-top: 26px;
    padding-left: 12px;
    line-height: 1.25;

    @include mq(sp) {
      padding-left: 6px;
    }
  }
}

.card--6 {
  padding-left: 5px;

  .time-schedule__card-time {
    left: -11px;
    @include mq(sp) {
      left: -6px;
    }
  }

  span {
    padding-right: 8px;
  }

  img {
    padding-top: 17px;
    padding-right: 23px;
    height: 154px;
    width: 150px;

    @include mq(sp) {
      width: 85px;
      height: 89px;
      padding: 0;
      margin-right: 29px;
    }
  }

  p {
    width: calc(300px - 15px - 10px);
    text-align: left;
    padding-top: 24px;
    padding-left: 2px;
    line-height: 1.25;

    @include mq(sp) {
      padding-left: 9px;
    }
  }
}

.card--7 {
  .time-schedule__card-time {
    left: -2px;
    @include mq(sp) {
      left: -7px;
    }
  }

  .time-schedule__card-img {
    img[src="./img/card-7.png"] {
      width: 280px;
      height: 170px;
      object-fit: contain;
      padding-top: 17px;
      padding-right: 0;

      @include mq(sp) {
        margin-right: 8px;
        padding: 0;
        width: 197px;
        height: 103px;
      }
    }
  }

  span {
    padding-right: 8px;
  }

  p {
    width: calc(300px - 15px - 10px);
    text-align: left;
    padding-top: 10px;
    padding-left: 16px;
    line-height: 1.25;

    @include mq(sp) {
      width: 130px;
      padding: 23px 0px 0 12px;
      flex: 1;
    }
  }
}

.card--8 {
  .time-schedule__card-time {
    left: -5px;
    @include mq(sp) {
      left: -7px;
    }
  }

  span {
    padding-right: 8px;
  }

  img {
    padding-top: 22px;
    padding-right: 9px;
    height: 156px;
    width: 137px;

    @include mq(sp) {
      width: 83px;
      height: 89px;
      padding: 0;
      margin-right: 26px;
    }
  }

  p {
    width: calc(300px - 15px - 10px);
    text-align: left;
    padding-top: 10px;
    padding-left: 16px;
    line-height: 1.25;

    @include mq(sp) {
      padding-top: 22px;
      padding-left: 12px;
      padding-right: 5px;
    }
  }
}

.card--9 {
  .time-schedule__card-time {
    left: -12px;
    @include mq(sp) {
      left: -7px;
    }
  }

  img[src="./img//card-9.png"]
  {
    width: 264px;
    height: 169px;
    object-fit: contain;
    padding-top: 22px;
    padding-right: 19px;

    @include mq(sp) {
      width: 185px;
      height: 100px;
      padding-top: 0px;
      padding-right: 8px;
    }
  }

  span {
    padding-right: 8px;
  }

  p {
    width: calc(300px - 15px - 15px);
    text-align: left;
    padding-top: 10px;
    padding-left: 7px;
    line-height: 1.25;

    @include mq(sp) {
      width: 200px;
      padding-top: 25px;
      padding-left: 13px;
    }
  }
}

.card--10 {
  margin-left: 4px;

  @include mq(sp) {
    margin-left: 0;
  }

  .time-schedule__card-time {
    left: -1px;

    @include mq(sp) {
      left: -7px;
    }
  }

  span {
    padding-right: 6px;
  }

  img {
    padding-top: 22px;
    height: 156px;
    width: 131px;

    @include mq(sp) {
      width: 83px;
      height: 89px;
      padding: 0;
      margin-right: 17px;
    }
  }

  p {
    width: 290px;
    text-align: left;
    padding-top: 23px;
    padding-left: 23px;
    line-height: 1.25;

    @include mq(sp) {
      width: 220px;
      padding-top: 18px;
      padding-left: 0px;
      margin-right: 21px;
    }
  }
}

.card--11 {
  // margin-left: 4px;

  .time-schedule__card-time {
    left: -6px;
  }

  span {
    padding-right: 6px;
  }

  img {
    padding-top: 22px;
    padding-right: 5px;
    height: 156px;
    width: 133px;

    @include mq(sp) {
      width: 83px;
      height: 89px;
      padding: 0;
      margin-right: 17px;
    }
  }

  p {
    width: 290px;
    text-align: left;
    padding-top: 23px;
    padding-left: 23px;
    line-height: 1.25;

    @include mq(sp) {
      width: 220px;
      padding-top: 18px;
      padding-left: 0px;
      margin-right: 21px;
    }
  }
}

.card--12 {
  // margin-left: 4px;

  .time-schedule__card-time {
    left: -6px;
  }

  img[src="./img/card-12.png"] {
    width: 250px;
    height: 147px;
    object-fit: contain;
    margin-top: 33px;
    padding-right: 5px;

    @include mq(sp) {
      width: 175px;
      height: 100px;
      margin: 0 85px 0 0;
    }
  }

  span {
    padding-right: 6px;
  }
}
/*-------------------
//FAQ
--------------------*/
.faq {
  padding-top: 80px;
  padding-bottom: 108px;
  position: relative;

  @include mq(sp) {
    padding-top: 29px;
    padding-bottom: 50px;
  }
}

.faq__inner-sp {
  @include mq(sp) {
    max-width: 310px;
  }
}

.section-title--faq {
  padding-top: 18px;
}

.faq__lists {
  padding-top: 78px;
  padding-left: 143px;
  text-align: left;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;

  @include mq(sp) {
    padding-top: 29px;
    margin-left: 37px;
    padding-left: 0;
    font-size: 16px;
  }
}

.faq__question {
  padding-bottom: 22px;
  position: relative;

  @include mq(sp) {
    padding-bottom: 16px;
  }
  &::before {
    position: absolute;
    display: inline-block;
    content: "Q";
    width: 33px;
    height: 33px;
    border-radius: 50%;
    top: 0;
    left: -43px;
    background-color: #00a8f0;
    text-align: center;
    vertical-align: middle;
    color: #fff;

    @include mq(sp) {
      width: 26.159px;
      height: 26.159px;
      left: -36px;
    }
  }
}

.faq__answer {
  padding-bottom: 49px;
  position: relative;

  @include mq(sp) {
    padding-bottom: 33px;
  }
  &::before {
    position: absolute;
    display: inline-block;
    content: "A";
    width: 33px;
    height: 33px;
    border-radius: 50%;
    top: 0;
    left: -43px;
    background-color: #fdd35c;
    text-align: center;
    vertical-align: middle;
    color: #fff;

    @include mq(sp) {
      width: 26.159px;
      height: 26.159px;
      left: -36px;
    }
  }
}

/*-------------------
//Footer
--------------------*/
.footer {
  background: #333;
  padding-top: 67px;
  padding-bottom: 39px;

  @include mq(sp) {
    padding-top: 0;
  }
}

.footer__inner {
  max-width: 1192px;
  @include mq(sp) {
    width: 100%;
    max-width: 370px;
  }
}

.footer__button-inner {
  padding-bottom: 59px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);

  @include mq(sp) {
    padding-top: 27px;
    padding-bottom: 19px;
    width: 290px;
    margin: 0 auto;
  }
}

.footer__button {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  border-radius: 50px;
  border: 1.633px solid #fff;
  padding: 7px 40px 11px;

  @include mq(sp) {
    font-size: 16px;
    padding: 6px 43px;
  }
}

.footer__small-wrapper {
  margin-top: 25px;
  text-align: center;
  position: relative;
}

.footer__logo {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin-right: 82px;

  @include mq(sp) {
    font-size: 9.117px;
    line-height: 13.024px;
    margin-right: 0;
  }
}

small {
  img {
    width: 219px;

    @include mq(sp) {
      width: 150px;
    }
  }
}

/*-------------------
//window button
--------------------*/
.window-button {
  position: fixed;
  width: 65px;
  height: 303px;
  flex-shrink: 0;
  border-radius: 10px 0 0 10px;
  background: #06c755;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  padding-bottom: 55px;
  letter-spacing: 4px;

  img {
    position: absolute;
    width: 53px;
    height: 53px;
    right: 4px;
  }

  @include mq(sp) {
    display: none;
  }
}

.window-button__wrapper {
  display: none;
  @include mq(sp) {
    display: block;
    position: fixed;
    z-index: 999;
    bottom: 0;
    background: rgba(241, 241, 244, 0.5);
    width: 100%;
    height: 80px;
  }
}

.window-button--sp {
  display: none;

  @include mq(sp) {
    display: block;
    position: fixed;
    z-index: 9999;

    bottom: 18px;
    left: 23px;
    width: 343px;
    padding: 7px 45px 9px 5px;
    color: #fff;
    font-size: 19.6px;
    font-weight: 500;
    border-radius: 49px;
    border: 1.633px solid #fff;
    background: #06c755;

    img {
      position: absolute;
      width: 46px;
      height: 43px;
      right: 13px;
      bottom: 0px;
    }
  }
}

/*-------------------
//アコーディオン
--------------------*/
.card-open {
  display: none;

  @include mq(sp) {
    display: block;
    margin: 13px auto 0;
    border: 1px solid #fff;
    padding: 3px 14px;
    color: #fff;
    text-align: center;
    font-family: "Roboto";
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 1;
  }
}
.card-open__contents {
  @include mq(sp) {
    display: none;
  }
}

.not-active {
  display: none;
}
