@use "../components/mixin" as *;

/*----------------------
//background
-----------------------*/

.background-design {
  width: 100%;
  height: 1465px;
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url(../img/background/background-1.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;

  @include mq(tab) {
    height: auto;
  }

  @include mq(sp) {
    background-image: url(../img/background-sp/sp-1.png);
    height: 365px;
  }
}

.background-design-exhibitors {
  width: 100%;
  height: 435.011px;
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url(../img/background/background-2.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;

  @include mq(tab) {
    width: 100%;
    height: auto;
  }

  @include mq(sp) {
    background-image: url(../img/background-sp/sp-2.png);
    height: 357px;
    margin-top: 40px;
  }
}

.background-design-faq1 {
  background-image: url(../img/background/polygon-4.png);
  position: absolute;
  z-index: 1;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
  top: 350px;
  left: -26px;
  width: 137px;
  height: 132px;
  background-size: contain;

  @include mq(tab) {
    height: auto;
  }

  @include mq(sp) {
    display: none;
  }
}
.background-design-faq2 {
  background-image: url(../img/background/polygon-5.png);
  position: absolute;
  z-index: 1;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
  top: 209px;
  right: 72px;
  width: 67px;
  height: 65px;
  background-size: contain;

  @include mq(tab) {
    height: auto;
  }

  @include mq(sp) {
    display: none;
  }
}

.background-design-faq3 {
  background-image: url(../img/background/polygon-6.png);
  position: absolute;
  z-index: 99999;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
  top: 30px;
  right: 134px;
  width: 205px;
  height: 182px;
  background-size: contain;

  @include mq(tab) {
    height: auto;
  }

  @include mq(sp) {
    display: none;
  }
}
