@use "../components/mixin" as *;

/*-------------------
//Footer
--------------------*/
.footer {
  background: #333;
  padding-top: 67px;
  padding-bottom: 35px;

  @include mq(sp) {
    padding-top: 0;
  }
}

.footer__inner {
  max-width: 1192px;
  @include mq(sp) {
    width: 100%;
    max-width: 370px;
  }
}

.footer__button-inner {
  padding-bottom: 59px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);

  @include mq(sp) {
    padding-top: 33px;
    padding-bottom: 28px;
    width: 296px;
    margin: 0 auto;
  }
}

.footer__button {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  border-radius: 50px;
  border: 1.633px solid #fff;
  padding: 7px 40px 11px;

  @include mq(sp) {
    font-size: 16px;
    padding: 6px 43px;
  }
}

.footer__small-wrapper {
  margin-top: 25px; //15
  text-align: center;

  @include mq(sp) {
    margin-top: 12px;
  }
}

.footer__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  @include mq(sp) {
    gap: 4px;
  }
}

.footer__company,
.footer__privacy {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  @include mq(sp) {
    font-size: 9.117px;
    line-height: 13.024px;
  }
}

.footer__company {
  margin-top: 11px;
}

.footer__privacy {
  margin-top: 17px;

  @include mq(sp) {
    margin-top: 12px;
    margin-right: 6px;
  }
}

.footer__logo {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  width: 222px;
  margin-right: 20px;

  @include mq(sp) {
    font-size: 9.117px;
    line-height: 13.024px;
    width: 126px;
    margin-right: 3px;
  }
}
